
<div class="row px-5 pt-3 mt-3 dashboard">
    <div class="col-xl-4 col-sm-6 grid-margin stretch-card px-3">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                            <h3 class="count">236</h3>
                            <p class="text-success ml-2 mb-0 font-weight-medium">80%</p>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="icon icon-box-success ">
                            <span class="mdi mdi-arrow-top-right icon-item"></span>
                        </div>
                    </div>
                </div>
                <h5 class="font-weight-normal">Change Management</h5>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-sm-6 grid-margin stretch-card px-3">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                            <h3 class="count">100</h3>
                            <p class="text-success ml-2 mb-0 font-weight-medium">80%</p>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="icon icon-box-success">
                            <span class="mdi mdi-arrow-top-right icon-item"></span>
                        </div>
                    </div>
                </div>
                <h5 class="font-weight-normal">Assembly Documents</h5>
            </div>
        </div>
    </div>
</div>
<div class="row px-5 dashboard">
    <div class="col-xl-4 col-sm-6 grid-margin stretch-card px-3">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                            <h3 class="count">300</h3>
                            <p class="text-success ml-2 mb-0 font-weight-medium">40%</p>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="icon icon-box-success">
                            <span class="mdi mdi-arrow-top-right icon-item"></span>
                        </div>
                    </div>
                </div>
                <h5 class="font-weight-normal">QFL Documents</h5>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-sm-6 grid-margin stretch-card px-3">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                            <h3 class="count">400</h3>
                            <p class="text-success ml-2 mb-0 font-weight-medium">60%</p>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="icon icon-box-success ">
                            <span class="mdi mdi-arrow-top-right icon-item"></span>
                        </div>
                    </div>
                </div>
                <h5 class="font-weight-normal">LOT Informations</h5>
            </div>
        </div>
    </div>
</div>
