button {
    padding: 5px 10px;
    border: unset;
    border-radius: 10px;
    color: #343a40;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 500;
    font-size: 16px;
    -webkit-box-shadow: 4px 8px 10px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 10px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
    overflow: hidden;
}

button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 20px;
    background-color: #343a40;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 10px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 10px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms
}

/* button:active {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 20px;
    background-color: #343a40;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 10px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 10px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms
} */

button:hover {
    color: #e8e8e8;
}

/* button:active{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 12px;
    background-color: #343a40;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms
} */

button:hover::before {
    width: 100%;
}

.master-navbar{
    overflow: overlay;
    white-space: nowrap;
    padding-bottom: 20px;
}